*
{
    text-align: center;
}

.app
{
    min-height: 100vh;
    margin: auto;
    background: linear-gradient(to bottom right, #E1E6EB, #c2dbf6 );
}

.container, .row
{
    width: 100%;
}

.nav-link a
{
    color: #E1E6EB !important;
    margin-right: 2em;
}

.map
{
    position: fixed;
    bottom: 3.2em;
    right: 0.25em;
    width: 15vw;
    height: 25vh;
}

.MapButton
{
    bottom: 0.5em;
    right: 0.25em;
    position: fixed;
    
    .btn.btn-primary
    {
        margin: unset;
    }
}
